@model EFood.Models.ViewModels.ProductPriceVM
@using EFood.Utilities
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Nuevo precio para el producto";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.ProductPrice.Id != 0)
    {
        titulo = "Editar precio del producto";
        <input asp-for="ProductPrice.Id" hidden />
        <input asp-for="ProductPrice.ProductId" hidden />
    }
    <div class="border-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <h2 class="text-info">@titulo</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="container">


                    <div class="row">
                        <div class="col-md-6">
                            <label>Tipo de precio</label>
                            <select asp-for="ProductPrice.PriceTypeId" asp-items="@Model.PriceTypeList" class="form-select">
                                <option disabled selected>-- Seleccione el Tipo de precio --</option>
                            </select>
                            <span asp-validation-for="ProductPrice.PriceTypeId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Precio</label>
                            <input type="number" asp-for="ProductPrice.Amount" class="form-control" placeholder="Precio"/>
                        </div>
                    </div>

                    <div class="col-md-6" hidden>
                        <select asp-for="ProductPrice.ProductId" class="form-select">
                            <option disabled>-- Seleccione procesador --</option>
                            @foreach (var processor in Model.ProductList.Where(p => p.Value.Equals(ViewData["ProductId"].ToString())))
                            {
                                <option value="@processor.Value" selected>
                                    @processor.Text
                                </option>
                            }
                        </select>
                        <span asp-validation-for="ProductPrice.ProductId" class="text-danger"></span>
                    </div>

                    <br />

                    <div class="d-grid gap-2 d-md-block">
                        @if (Model.ProductPrice.Id != 0)
                        {
                            <partial name="_ButtonsUpdateBack" model="Model.ProductPrice.Id" />
                        }
                        else
                        {
                            <partial name="_ButtonsCreateBack" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        document.getElementById("ProductPrice.PriceTypeId").addEventListener('change', function () {
            validateName();

        });

        function validateName() {
            var url = '@Url.Content("~/")' + "Admin/ProductoPrice/ValidatePriceType";
            var id = '#id';
            

            $.getJSON(url, { id: $(id).val()}, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var name = document.getElementById("ProductPrice.PriceTypeId");
                        swal("Error", "Tipo de precio ya existe", "error");
                        name.value = "";
                    }
                });
            })

        }

    </script>
}

